@{
    ViewData["Title"] = "Catálogo";
}

<div id="sidebar">
    <h1 style="color: #3b7687;">Catálogo</h1>
</div>
<div id="main">
    <h5>Segue abaixo nosso catálogo de destinos nacionais e internacionais e seus preços</h5>

    <h3 style="color: #3b7687;">Espanha - Barcelona</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/barcelona1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/barcelona2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/barcelona3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$3800.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Estados Unidos - Nova Iorque</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/nova-iorque-1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/nova-iorque-2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/nova-iorque-3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$6100.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Itália - Roma</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/roma1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/roma2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/roma3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$3600.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Brasil - Salvador</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/salvador1.jpeg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/salvador2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/salvador3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$730.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Brasil - Rio de Janeiro</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/riodejaneiro1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/riodejaneiro2.jpeg" />
        </div>
        <div class="imgContainer">
            <img src="./images/riodejaneiro3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$930.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Brasil - São Paulo</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/saopaulo1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/saopaulo2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/saopaulo3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$700.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Brasil - Maceió</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/maceio1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/maceio2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/maceio3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$830.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>

    <h3 style="color: #3b7687;">Brasil - Belo Horizonte</h3>
    <div class="image123">
        <div class="imgContainer">
            <img src="./images/bh1.jpg" />
        </div>
        <div class="imgContainer">
            <img class="middle-img" src="./images/bh2.jpg" />
        </div>
        <div class="imgContainer">
            <img src="./images/bh3.jpg" />
        </div>
    </div><br>
    <strong>Preço: R$670.00 </strong>
    <button class="btn btn-primary btn-sm">Comprar</button>
